<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=pageTitle%>
    </title>
</head>

<body>
    <form action="/toDoList" method="post">
        <h3 class="formTitle">
            Tạo To Do List
        </h3>
        <div>
            <h3>Tên To Do List</h3>
            <input type="text" id="name" name="name">
        </div>
        <button type="submit">Tạo</button>
    </form>

    <div>
        <%- include("layout/listToDo")%>
    </div>
</body>

</html>