*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    margin: auto;
    width: 900px;
    min-height: 90vh;
    box-shadow: 0 0 10px #000;
    margin-top: 25%;
    transform: translateY(-50%);

}

#createForm{
    width: 80%;
    margin: auto;
    background-color: #ccc;
}

#createForm .container_input{
    padding-top: 12px;
}

#createForm p{
    margin-top: 12px;
    display: inline;
}

#createForm input{
    display: inline-block;
    margin: auto;
    padding: 4px 0px;
    width: 90%;
}

#createForm .create_btn{
    width: 150px;
    background-color: #27d435;
    border: 0px;
    padding: 4px 0;
    margin: 12px 0px;
    margin-left: 50%;
    transform: translateX(-40%);
}

.create_btn:hover{
    cursor: pointer;
    opacity: 0.8;
}

#container .formTitle{
    width: 100%;
    text-align: center;

}

#table_List {
    margin: auto;
    background-color: #8ea033;
}

#table_List tr:hover{
    background-color: #b7c571;
    cursor: pointer;
}

#table_List tr td:nth-child(odd),
#table_List tr th:nth-child(odd){
    width: 50px;
    border: 1px solid black;
}

#table_List tr td:nth-child(even),
#table_List tr th:nth-child(even)
{
    width: 200px;
    border: 1px solid black;
}

#table_List a{
    text-decoration: none;
    font-weight: bold;
}
